.closeButton {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
}

.closeButton > div {
  width: 70%;
  background-color: #9a8866;
  height: 2px;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 1px);
  left: 15%;
}

.closeButton > div:first-child {
  transform: rotate(-45deg);
}
