.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  max-width: 100%;
  bottom: 0;
  z-index: 9999;
  transition: right 0.1s;
  box-shadow: 0 0 100px rgba(65, 61, 52, 1), 0 0 6px rgba(232, 190, 107, 0.8);
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
  background-color: inherit;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.sidebar.hidden {
  right: -35rem;
}

.sidebarContent {
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  min-height: 3em;
}

.closeButton {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
}

.closeButton > div {
  width: 70%;
  background-color: #9a8866;
  height: 2px;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 1px);
  left: 15%;
}

.closeButton > div:first-child {
  transform: rotate(-45deg);
}
