.mapInfo {
  color: #aeaeb0;
}

.factionHeader {
  color: #9a8866;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
}

.arrow {
  border: solid #9a8866;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}
.arrow.up {
  transform: translate(.5rem, 0) rotate(-135deg);
}

.arrow.down {
  transform: translate(.5rem, -.2rem) rotate(45deg);
}

.extractsList {
  margin-bottom: 1em;
  overflow: hidden;
}

.extractsList.hidden {
  height: 0;
}

.extractsList > li {
  padding: .3em 1em;
  cursor: pointer;
  border-radius: 6px;
}

.extractsList > li:hover {
  background-color: #042f47;
}

.extractsList > li.selected {
  background-color: #074a71;
}

.extractsList > li > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.extractsList > li .activationRequired {
  margin: 0 .5em;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  background-color: lightseagreen;
}

.extractsList > li .specialConds {
  font-size: 14px;
  padding-left: 1em;
  color: #6c6c6c;
}