.map-info {
  color: #aeaeb0;
}

.map-info h3 button {
  color: #9a8866;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
}

.arrow {
  border: solid #9a8866;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}
.arrow.up {
  transform: translate(.5rem, 0) rotate(-135deg);
}

.arrow.down {
  transform: translate(.5rem, -.2rem) rotate(45deg);
}

.extracts-list {
  margin-bottom: 1em;
  overflow: hidden;
}

.extracts-list.hidden {
  height: 0;
}

.extracts-list > li {
  padding: .3em 1em;
  cursor: pointer;
  border-radius: 6px;
}

.extracts-list > li:hover {
  background-color: #074a71 !important;
}

.extracts-list > li.selected {
  background-color: #053652;
}

.extracts-list > li > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.extracts-list > li .activation-required {
  margin: 0 .5em;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  background-color: lightseagreen;
}

.extracts-list > li .special-conds {
  font-size: 14px;
}